.dropdown-menu {
  position: static !important;
  transform: none !important ;
}
.diary.modal-dialog {
  max-width: 1000px;
}
/* .showDiarydate .react-datepicker-wrapper {
  padding: "10px" !important;
}

.showDiarydate div .react-datepicker__input-container input {
  width: "100px" !important;
}
.showDiarydate input {
  width: "100px";
} */
